[submodule "lisp/markdown-mode"]
	path = lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lisp/emacs_chrome"]
	path = lisp/emacs_chrome
	url = git@github.com:ryszard/emacs_chrome.git
[submodule "lisp/cofee-mode"]
	path = lisp/cofee-mode
	url = git@github.com:ryszard/coffee-mode.git
[submodule "lisp/undo-tree"]
	path = lisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "lisp/clojure-mode"]
	path = lisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
